body{
	background: gray;
	/*color: red;*/
}

table{
	width: 100%;
	border-collapse: collapse;
}

tr, td{
	border-style: solid;
	border-width: 1px;
}

/* main table */

.row_item, .selected{
	cursor: pointer;
}

.selected{
	background: blue;
}

/* resumen */

.resumen_key{
	width: 10px;
	white-space: nowrap;
	font-weight: bold;
}


