body, html, button, input, select {
    font-family: sans-serif;
    font-size: 1.01em;
}

.hidden{
	display: none !important;
}

b{
	margin-bottom: 5px;
	display: block;
}

body{
    margin: 0 !important;
    padding: 0 !important;
    background-color: #efefef;
}


table{
	width: 100%;
	border-collapse: collapse;

	border-style: solid;
	border-top-width: 0;
	border-bottom-width: 0;
	border-right-width: 1px;
	border-left-width: 1px;
	border-color: lightsteelblue;
}


button{
	border-radius: 0px;
	border-color: black;
	border: none;
	background: #7B9DB7;
}

button:hover {
    background: #C9D3DB;
}

button:active{
	/*background: #758FA5;*/
	background: #8EA5B8;
}

.module_container button, .dialog_btn{
	/*float: right;*/
	min-width: 150px;
	min-height: 30px;
	margin: 10px 5px 10px 5px;
}

.button_container_width{
	width: 100%;
	display: block;
}

.button_container_margin{
	display: block;
	margin-left: auto;
	width: max-content;
}

.button_inline{
	display: inline-block;
}

/* main table */

.row_item, .selected{
	cursor: pointer;
}

.selected td{
	background-color: #96E0FF; 
}

.header_table tr:first-child td{
	background-color:#1E4B71;
	color: white;
	border-color: #1E4B71;
}

.header_user{
	display: inline-block;
	position: fixed;
	right: 6px;
	top: 6px;
	height: inherit;
}

.header_icon_user{
	display: inline-block;
	height: 50%;
	/*margin-right: 5px;*/
}

td{
	padding-top: 2px;
	padding-bottom: 2px;
	border-style: solid;
	/*border-width: 1px;*/
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-right-width: 0px;

	background: white;
	border-color: lightsteelblue;
	color: #222222;
}

/* resumen */

.resumen_key{
	width: 10px;
	white-space: nowrap;
	font-weight: bold;
}



/* CLIENT */

.header{
	position: fixed;
	width: 100%;
	top: 0;
	
	height: 30px;
	background: #E127A4;
	margin: 0;
	color: white;
	text-align: center;

	border-bottom: 2px;
	border-bottom-color: #BD1D89;
	border-bottom-style: solid;
}

.header  button{
	background: #983278;
	color: lightgray;
}

.header  button:hover{
	background: #BE3792;
}

.header > p{
	padding-top: 5px;
	display: inline-block;
}

#header_userinfo{
	display: inline-block;
}

p{
	margin: 0;
}

.separator{
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 200px auto;
    grid-gap: 0px;
}

.separator_child{
	min-height: 100%;
	width: 100%;
	height: 100%;
}


.module_container{
	padding: 10px 20px 10px 20px;
}

.content_container{
	height: 100%;
	padding-left: 200px;
	padding-top: 32px;
}
.content_content{
	max-width: 1000px;
	margin: auto;
}

.container_module_selection{
	background: #8EA5B8;
	position: fixed;
	top: 0;
	left: 0;
	
	width: 200px;
	height: 100%;
	
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 32px auto;
    grid-gap: 0px;
}

.module_selection{
	width: 100%;
	overflow-y: auto;
	padding-bottom: 32px;
}

.module_subtitle{
	font-weight: bold;
	padding: 20px 0 5px 6px;
}

.btn_module{
	width: 100%;
	height: 38px;
	margin-bottom: 5px;
}

.btn_module_selected
{
	background: #658eb0;
}


.floating_message{
	display: none;
	width: 100%;
	height: 50px;
	color: white;
	padding: 10px;
	box-sizing: border-box;
}

.floating_message > div{
	padding: 10px;
	background: green;
}

#edit_vehicle_tbl_properties input,
#edit_client_tbl_properties input,
#edit_employee_tbl_properties input,
#reg_vehicle_tbl_properties input,
#reg_client_tbl_properties input,
#reg_employee_tbl_properties input,
#srh_vehicle_tbl_filter input,
#srh_client_tbl_filter input,
#srh_sale_tbl_filter input,
#srh_employee_tbl_filter input{
	width: 100%;
	box-sizing: border-box;
	display: block;
}

.srh_no_result{
	background: #f0c4e2;
	padding: 5px;
	box-sizing: border-box;
}

.srh_filter_checkbox{
	margin: 0;
	padding: 0;
	height: 20px !important;
	width: 20px !important;
}

/* DEBUG BUTTONS */

#reg_btn_fetch, #edit_btn_fetch{
	display:none;
}

/* DIALOG */

#module_dialog_picker{
	position: fixed;
	background: rgba(0,0,0,0.5);
	top: 0;
	height: 100%;
	/*bottom: 0;
	right: 0;*/
	left: 0;
	width: 100%;
	padding: 40px;
	box-sizing: border-box;
}

#dialog_container{
	width: 100%;
	height: 100%;
	background-color: white;

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 55px auto 55px;
    grid-gap: 0px;

	border: solid;
	border-color: black;
}

#dialog_module_container{
	/*height: 100%;*/
	max-height: 100%;
	overflow-y: auto;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: auto;
	margin-bottom: auto;
}

#dialog_header, #dialog_footer{
	width: 100%;
	height: 100%;
	background: #E127A4;

	
}

#dialog_header{
	color: white;
	text-align: center;
	font-size: 1.2em;
	padding-top: 20px;
	box-sizing: border-box;
}

#dialog_footer > button{
	
}

/* payment */
#payment_details{
	background: white;
	padding: 5px;
}

/* facture_viewer */

#report_money_main_viewer,
#report_inventory_main_viewer{
	background: white;
	border: black;
	    border-top-style: none;
	    border-top-width: medium;
	    border-right-style: none;
	    border-right-width: medium;
	    border-bottom-style: none;
	    border-bottom-width: medium;
	    border-left-style: none;
	    border-left-width: medium;
	border-style: solid;
	padding: 5px;
	border-width: 2px;
	font-size: 1.2em;
	/*width: 500px;*/
	margin-left: auto;
	margin-right: auto;
	font-family: mono;
}

#facture_main_viewer{
	background: white;
	border: black;
	    border-top-style: none;
	    border-top-width: medium;
	    border-right-style: none;
	    border-right-width: medium;
	    border-bottom-style: none;
	    border-bottom-width: medium;
	    border-left-style: none;
	    border-left-width: medium;
	border-style: solid;
	padding: 5px;
	border-width: 2px;
	font-size: 1.2em;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	font-family: mono;
}

.report_money_fmt_left,
.report_inventory_fmt_left,
.facture_fmt_left{
	display: inline-block;
}

.report_money_fmt_right,
.report_inventory_fmt_right,
.facture_fmt_right{
	float: right;
}

.report_money_fmt_center,
.report_inventory_fmt_center,
.facture_fmt_center{
	height: 1em;
	width: 100%;
	display: block;
	text-align: center;
}

.form_section{
	background: white;
	padding: 5px;
}

/* login */

.session_content{
	width: 400px;
	
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}

.login_tbx{
	width: 100%;
	height: 1.4em;
	margin-top: 10px;
	font-size: 1.2em;
}

/* page */

.btn_page_arrow{
	display: inline-block;
	width: 30px !important;
	min-width: 30px !important;
}

.lbl_page{
	display: inline-block;
	min-height: 30px;
}


