#
# This group is read both by the client and the server
# use it for options that affect everything
#
[client-server]

#
# include *.cnf from the config directory
#
!includedir /data/data/com.termux/files/usr/etc/my.cnf.d

[mariadb]

port = 12345
